<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>

    <header id="top">

        <div class="container-grid header-flex mobile-header">

            <img src="~/assets/icons/icon-menu.svg" alt="" onclick="mostrarMenu()">
            <img class="logotipo-mobile" src="~/images/logo-gamer.png" alt="">
            <img src="~/assets/icons/icon-trespontos.svg" alt="" onclick="mostrarMenuDireita()">

        </div>



        <div class="up-header-box">

        <div class="container-grid-d flex">
            <div class="contatos">

                <a href="" class="tel-box">
                    <img src="~/assets/icons/icon-tel.svg" alt="">
                    <span>(11) 99999-9999</span>
                </a>

                <a href="" class="mail-box">
                    <img src="~/assets/icons/icon-mail.svg" alt="">
                    <span>contato@gamer.com.br<span>
                </a>

            </div>

            <div class="social-box">
                <a href="">
                <img class="facebook" src="~/assets/icons/icon-face.svg" alt="">
                </a>
                <a href="">
                <img class="linkedin" src="~/assets/icons/icon-linke.svg" alt="">
                </a>
                <a href="">
                <img class="instagram" src="~/assets/icons/icon-insta.svg" alt="">
                </a>
            </div>
            </div>
            
        </div>

        <div class="bottom-header container-grid-d">

            <div id="menu-lateral">

                <img class="logotipo-desktop" src="~/images/logo-gamer.png" alt="">

                <div class="upper-header-mobile">

                    <nav class="link-centro">


                        <a  asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                        <a href="~/#noticias">Noticias</a>
                        
                        

                        @if (ViewBag.Login != null)
                        {
                        <a  asp-area="" asp-controller="Jogador" asp-action="Index">Jogadores</a>
                        <a asp-area="" asp-controller="Equipe" asp-action="Index">Equipes</a>
                        <a asp-area="" asp-controller="Login" asp-action="Logout"><img id="logout" src="~/assets/icons/logout.svg" alt=""></a>
                        
                        }
                        else
                        {
                        <a href="">Sobre</a>
                        <a href="">Contato</a>
                        }
                    </nav>

                    <div class="contatos-mobile">

                        <a href="">
                            <div class="tel-box-mobile">
                                <img src="~/assets/icons/icon-tel.svg" alt="">
                                <span>(11) 99999-9999</span>
                            </div>
                        </a>

                        <a href="">
                            <div class="mail-box-mobile">
                                <img src="~/assets/icons/icon-mail.svg" alt="">
                                <span>contato@gamer.com.br<span>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="social-box-mobile">

                    <a href=""><img class="facebook" src="~/assets/icons/icon-face.svg" alt=""></a>
                    <a href=""><img class="linkedin" src="~/assets/icons/icon-linke.svg" alt=""></a>
                    <a href=""><img class="instagram" src="~/assets/icons/icon-insta.svg" alt=""></a>

                </div>

            </div>

            <div id="menu-lateral-direita">

                <div class="icons-left">

                    @if (ViewBag.Login == null)
                    {
                    <a asp-area="" asp-controller="Login" asp-action="Login" ><input type="image" src="~/assets/icons/icon-user.svg"> </a>
                        
                    }
                    else
                    {
                        
                        <a asp-area="" asp-controller="Jogador" asp-action="Perfil"><img id="profile-pic" src="~/images/profile.jpg" alt=""></a>
                    }
                    <a href="#"><img src="~/assets/icons/icon-bag.svg" alt=""></a>
                    <a href="#"><img src="~/assets/icons/icon-lupa.svg" alt=""></a>

                </div>

            </div>

        </div>

    </header>





    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer class="footer">

        
        <section class="container-grid container-grid-d footer-flex">

            <article class="box1-footer">

                <img src="~/images/logo-gamer.png" alt="">

                <p>Nosso sucesso na criação de soluções de negócios se deve em grande parte a nossa equipe talentosa e
                    altamente comprometida.</p>

                <div class="social-box-footer">

                    <a href=""><img src="~/assets/icons/icon-face-footer.svg" alt=""></a>
                    <a href=""><img src="~/assets/icons/icon-linkedin-footer.svg" alt=""></a>
                    <a href=""><img src="~/assets/icons/icon-insta-footer.svg" alt=""></a>

                </div>

            </article>

            <article class="box2-footer">
                <h5>Links Úteis</h5>
                <hr>

                <ul class="inside">
                    <li> <a  asp-area="" asp-controller="Home" asp-action="Index">Início</a></li>

                    @if (ViewBag.Login != null)
                        {
                    <li> <a  asp-area="" asp-controller="Jogador" asp-action="Index">Jogadores</a></li>
                    <li> <a asp-area="" asp-controller="Equipe" asp-action="Index">Equipes</a></li>
                    <li><a asp-area="" asp-controller="Login" asp-action="Logout">Logout</a></li>
                        }
                    else
                        {
                    <li><a href="~/#noticias">Noticias</a></li> 
                    <li><a href="">Sobre</a></li> 
                    <li><a href="">Contato</a></li> 
                    <li> <a asp-area="" asp-controller="Login" asp-action="Login" >Login</a></li>
                        }
            </article>

            <article class="box3-footer">
                <h5>Contatos</h5>
                <hr>

                <h2>Localização:</h2>
                <p>Rua Niterói,180 - São Caetano do Sul - SP</p>

                <h2>Junte-se a nós:</h2>
                <p>contato@gamer.com.br</p>

                <h2>Telefone:</h2>
                <p>(11) 99999-9999</p>

            </article>

            <article class="box4-footer">
                <h5>Newsletter</h5>
                <hr>

                <form action="" class="frm-news">
                <div class="input-gradient">
                    <input type="email" placeholder="Digite seu e-mail...">
                </div>
                <button type="submit">Enviar</button>
                </form>

            </article>

            
            
        </section>

        <div class = "footer-bottom container-grid-d container-grid" >

        <a href="#top"><input class="top-button" type="image" src="~/assets/icons/icon-arrow.svg"></a>
        
        <p class="copyright">©Copyright2022-GamerJogosDigitais</p>

        </div>
    </footer>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
       <script>

        function mostrarMenu() {
            document.getElementById("menu-lateral").classList.toggle("mostrarMenu");
        }
        function mostrarMenuDireita() {
            document.getElementById("menu-lateral-direita").classList.toggle("mostrarMenuDireita")
        }

        function myFunction() {
  var x = document.getElementById("senha");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
