@font-face {
  font-family: "titilium web";
  src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
  font-family: "quicksand";
  src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: "titilium web italic" ;
  src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Italic.ttf);
}

@font-face {
  font-family: "titilium web bold";
  src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

@font-face {
  font-family: "titilium web regular";
  src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
  font-family: 'titilium web black';
  src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}
/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* configuracoes genericas */

.mostrarMenu{
  left: 0 !important;
  opacity: 1 !important;
}
.mostrarMenuDireita{
  right: 0 !important;
  opacity: 1 !important;
}

.container-grid{
  width: 90%;
  margin: 0 auto;
  max-width: 768px;
}

body{
  background-color: #1b1426;
}

/* header */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #1b1426;
}

.header-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logotipo-mobile{
  width: 87.5px;
  height: 25px;
}

.logotipo-desktop{
  display: none;
}

.up-header-box {
  display: none;
}

#menu-lateral{
  position: fixed;
  top: 60px;
  left:  -270px;
  width: 270px;
  height: calc(100vh - 60px);
  display: flex;
  z-index: 1000;
  transition: left 0.4s, opacity 0.5s;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgb(27, 20, 38, 70%), rgb(27, 20, 38,40%));
  backdrop-filter: blur(5px);
  box-shadow: 5px 0px 30px;
  opacity: 0;
}

.link-centro{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 346px;
  width: 100%;
}

.link-centro a {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  font-family: "inter";
  font-size: 15px;
  color: white;
  border-bottom: 2px solid #f9aa01;
  height: 80px;
  width: 270px;
}

.contatos-mobile span{
  font-family: "inter";
  font-size: 15px;
  color: white;
}

.contatos-mobile{
  width: 100%;
  text-align: center;
}
.contatos-mobile a{
  text-decoration: none;
}

.tel-box-mobile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 2px solid #f9aa01;
  height: 80px;
}

.tel-box-mobile img {
  margin-left: 40px;
}

.tel-box-mobile span {
  margin-right: 40px;
}

.mail-box-mobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 80px;
}

.mail-box-mobile img {
  margin-left: 30px;
}

.mail-box-mobile span {
  margin-right: 10px;
}

#menu-lateral-direita {
  position: fixed;
  top: 60px;
  right: -66px;
  width: 66px;
  height: 170px;
  background-image: linear-gradient(rgb(27, 20, 38, 70%), rgb(27, 20, 38,40%));
  backdrop-filter: blur(5px);
  box-shadow: 5px 0px 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 10;
  transition: right 0.4s, opacity 0.5s;
  opacity: 0;
}

.icons-left{
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 138px;
  justify-content: space-between;
}

.upper-header-mobile{
  display: flex;
  flex-direction: column;
  height: 510px;
}

.social-box-mobile {
  margin-bottom: 60px;
  display: flex;
  width: 152px;
  height: 31px;
  justify-content: space-between;
}

.social-box-mobile .facebook{
  width: 15px;
  height: 29px;
}

.social-box-mobile .linkedin{
  width: 26px;
  height: 26px;
  margin-top: 3px;
}

.social-box-mobile .instagram{
  width: 30px;
  height: 30px;
}