@model Jogador

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/login.css">

</head>




        <section class="banner-login">

            <article class="container-grid login-flex container-grid-d">

                <form class="border-gradient-l" method="post" action="@Url.Action("Logar")">

                    <div class="box-login">
                        <h1>Login</h1>
                        <hr>

                        <div class="input-gradient-login">

                            <div class="icon-input">
                            <img src="~/assets/icons/icon-user-white.svg" alt="">
                            <input type="email" placeholder="Digite seu email..." name="Email" required>
                            </div>

                        </div>

                        <div class="input-gradient-login">

                            <div class="icon-input">
                            <img src="~/assets/icons/icon-key.svg" alt="">
                            <input type="password" placeholder="Digite sua senha..." name="Senha" required id="senha">

                            <input style="width:40px; height: 15px;" type="checkbox" onclick="myFunction()">
                            </div>

                        </div>
                    <button type="submit">Logar</button>

                        
                        <a  asp-area="" asp-controller="CadastroUser" asp-action="CadastroUser"><p>Cadastre-se</p></a>
                            <h6 style="color: red;">@TempData.Peek("message")</h6>


                        </form>


                </div>
            </article>

        </section>

    