@model Jogador

@{
    ViewData["Title"] = "CadastroUser";

}

<link rel="stylesheet" href="~/css/jogadores.css">

<section class="banner">

        <article class="container-grid jogadores-flex container-grid-d">

            <div class="border-gradient-j">

                <form class="box-jogadores" method="post" action="@Url.Action("Cadastrar")">
                    <h1>Cadastro de jogadores</h1>
                    <hr>

                    <div class="input-gradient-jogadores">

                        <select name="IdEquipe" id="IdEquipe" style="width: 100%;" required >

                            <option value="0" disabled selected>Selecione a equipe</option>

                            @foreach (Equipe equipe in ViewBag.Equipe)
                            {
                                <option value="@equipe.IdEquipe" style="color:black;">@equipe.Nome</option>
                            }

                        </select>
                    </div>

                    <div class="input-gradient-jogadores">
                        <input type="text" placeholder="Digite o nome do jogador..." type="text" name="Nome" required>
                    </div>

                    <div class="input-gradient-jogadores">
                        <input type="email" placeholder="Digite o email do jogaodor..." name="Email" required>
                    </div>

                    <div class="input-gradient-jogadores">
                        <input type="password" placeholder="Digite a senha..." name="Senha" required>
                    </div>


                    <button type="submit" class="cadastro">Cadastro</button>
                    <h6 style="color: red;">@TempData.Peek("message")</h6>

                </form>
            </div>
        </article>